*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(38, 40, 39));
    background-image: url(./6fa11bb79ac382652c49e86d02e858d6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    animation: anim 3s infinite;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 100px;
    
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "hero hero hero hero"
    "main main . image"
    "main main . extra"
    "banner banner banner banner";

    animation: anim 3s infinite;
}

.grid div{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px ;
    border: 2px solid;
    font-size: 30px;
    animation: anim 3s infinite;
}

@keyframes anim {
    0%{
        box-shadow: 0 0 20px blue;
    }
    20%{
        box-shadow: 0 0 20px orange;
    }
    30%{
        box-shadow: 0 0 20px red;
    }
    50%{
        box-shadow: 0 0 20px green;
    }
    70%{
        box-shadow: 0 0 20px blue;
    }
    90%{
        box-shadow: 0 0 20px orange;
    }
    100%{
        box-shadow: 0 0 20px red;
    }
}

.header{
    grid-area: header;
    background-color: rgba(78, 78, 87, 0.486);
    color: blueviolet;
}

.menu{
    grid-area: menu;
    background-color: rgba(78, 78, 87, 0.486);
    color: yellow;
}

.hero{
    grid-area: hero;
    background-color: rgba(78, 78, 87, 0.486);
    color: red;
}

.main{
    grid-area: main;
    background-color: rgba(78, 78, 87, 0.486);
    color: green;
}

.image{
    grid-area: image;
    background-color: rgba(78, 78, 87, 0.486);
    color: rgb(50, 191, 204);
}

.extra{
    grid-area: extra;
    background-color: rgba(78, 78, 87, 0.486);
    color: darkorchid;
}

.banner{
    grid-area: banner;
    background-color: rgba(78, 78, 87, 0.486);
    color: rgb(106, 151, 83);
}

.malumot{
    width: 400px;
    margin: 20px auto;
    padding: 20px 60px;
    border-radius: 10px;
    background-color: rgba(78, 78, 87, 0.486);
    color: #fff;
    transition: 1s;
}

.malumot:hover{
    transform: scale(1.1);
    transition: 1s;
}

.malumot ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    text-align: center;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.malumot ul li{
    padding: 15px 20px;
    color: aqua;
    border-radius: 5px;
    background-color: rgba(20, 20, 25, 0.122);
    border-left: 4px solid blueviolet;
}